<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary-shade" fill="outline"></ion-menu-button>
        <!-- <ion-button size="small" color="primary" fill="outline" (click)="openReorderModal()">
          <ion-icon name="repeat"></ion-icon>
        </ion-button> -->
      </ion-buttons>
      <ion-title>
          <h3>Shopping</h3>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary-shade" fill="outline" (click)="addOrRemoveItems()">
            + / -
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
      <ion-item
                class="list-group-item"
                *ngFor="let item of activeShoppingItems"
                (click)="openItemOptions($event, item)">
          <ion-label>{{ item.name }}</ion-label>
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-item>
  </ion-list>
</ion-content>
